fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
email-validator
python-jose
passlib[bcrypt]
cryptography
anyio
click
h11
jinja2
weasyprint
reportlab
pillow
pymysql
pypdf2
pylatex
bcrypt
